<section id="content">
	<div class="container" ng-controller="productController">
		<ng-include src="'app/views/templates/identifier.html'"/>
		<ng-include src="'app/views/templates/header.html'"/>
		<div id="option-group" class="group">
			<div ng-show="showList"><ng-include src="'app/views/body/product-list.html'"/></div>
			<div ng-hide="showList"><ng-include src="'app/views/body/product-image-body.html'"/></div>
			<div ng-hide="showList"><ng-include src="'app/views/body/product-body.html'"/></div>
		</div>
		<div class="action-btn-div">
			<div ng-show="showList">
				<input type="button" class="action-btn" value="ADD PRODUCT"  ng-click="newProduct()"/>
				<input type="button" class="action-btn" value="RETURN"  ng-click="go('/main')"/>
			</div>
			<div ng-hide="showList">
				<input type="button" class="action-btn" value="SAVE"  ng-click="saveProduct()"/>
				<input type="button" class="action-btn" value="RETURN"  ng-click="toggleList()"/>
			</div>
		</div>
	</div>
</section>