<section id="content">
	<div class="container" ng-controller="profileController">
		<ng-include src="'app/views/templates/identifier.html'"/>
		<ng-include src="'app/views/templates/header.html'"/>
		<div id="option-group" class="group">
			<ng-include src="'app/views/body/profile-image-body.html'"/>
			<ng-include src="'app/views/body/profile-body.html'"/>
			<ng-include src="'app/views/body/registration-body.html'"/>
			<ng-include src="'app/views/body/contact-info-body.html'"/>
		</div>
		<div class="action-btn-div">
			<input type="button" class="action-btn" value="SUBMIT"  ng-click="saveProfile()"/>
			<input type="button" class="action-btn" value="CANCEL"  ng-click="go('/main')"/>
		</div>
	</div>
</section>