
<ul>
	<li><a onclick="loadLandingPage()">Return home</a></li><br>
	<li><a href="#" onclick="loadProfile()" class="menu-item">Manage Profile</a></li><br>
	<li><a href="#" onclick="loadProfile()" class="menu-item">Manage Products</a></li><br>
	<li><a href="#" onclick="loadContactPage()" class="menu-item">Manage Contacts</a></li><br>
	<li><a href="#" onclick="loadInboxPage()" class="menu-item">Manage Inbox</a></li><br>
	<li><a href="#" onclick="logOut()" class="menu-item">Logout</a></li><br>
</ul>