<div class="group-header">
	Business Information:
</div>
<div class="sub-group">
	<table class='form-table' style="windows: 100%;">
		<tbody>
			<tr class='form-row'>
				<td class='form-cell'>
					<input type="text" placeholder="Business Name" required ng-model="registration.company.companyName" class="form-input"/><br>
					<label class='form-label'>Business Name</label>
				</td>
			</tr>
			<tr class='form-row'>
				<td class='form-cell'>
					<input type="text" placeholder="Business Type" required ng-model="registration.company.businessType" class="form-input"/><br>
					<label class='form-label'>Business Type</label>
				</td>
			</tr>
		</tbody>				
	</table>
</div>


