<div class="list-container">
	<div class="list-item">
		<div class="list-arrows"></div>
		<div class="list-item-text"><a ng-click="go( '/inventory' )">Manage Vendors</a></div>
	</div>
	<div class="list-item">
		<div class="list-arrows">></div>
		<div class="list-item-text"><a onclick="go( '/inventory' )">Manage Supplies</a></div>
	</div>
	<div class="list-item">
		<div class="list-arrows">></div>
		<div class="list-item-text"><a onclick="go( '/inventory' )">Manage Finished Product</a></div>
	</div>
</div>