<div class="list-container">
	<div class="list-item">
		<div class="list-arrows"></div>
		<div class="list-item-text"><a ng-click="go( '/product' )">Manage Products</a></div>
	</div>
	<div class="list-item">
		<div class="list-arrows">></div>
		<div class="list-item-text"><a ng-click="go( '/inventory' )">Manage Inventory</a></div>
	</div>
	<div class="list-item">
		<div class="list-arrows">></div>
		<div class="list-item-text"><a ng-click="go( '/main' )">Manage Contacts</a></div>
	</div>
	<div class="list-item">
		<div class="list-arrows"></div>
		<div class="list-item-text"><a ng-click="go( '/main' )">Manage Inbox</a></div>
	</div>
	<div class="list-item">
		<div class="list-arrows"></div>
		<div class="list-item-text"><a ng-click="go( '/profile' )">Manage User Profile</a></div>
	</div>
	<div class="list-item">
		<div class="list-arrows"></div>
		<div class="list-item-text"><a ng-click="go( '/business' )">Manage Business Profile</a></div>
	</div>
</div>
