

<table class='form-table' style="widows: 100%;">
	<tr class='form-row'>
		<td class='form-cell' style='' colspan="2">
			<input type="text" placeholder="Email Address" required class="form-input" ng-model="form.username"><br>
			<label class='form-label'>Email Address</label>
		</td>
	</tr>
	<tr class='form-row'>
		<td class='form-cell' style='' colspan="2">
			<input type="password" placeholder="Password" required class="form-input" ng-model="form.password"><br>
			<label class='form-label'>Password</label>
		</td>
	</tr>
</table>


