<div class="group-header">
	Personal Information:
</div>
<div class="sub-group">
	<table class='form-table'>
		<tbody>
			<tr class='form-row'>
				<td class='form-cell' style=''>
					<input type="text" placeholder="First Name" ng-model="registration.person.firstName" class="form-input" /><br> 
					<label class='form-label'>First Name</label>
				</td>
				<td class='form-cell' style='' >
					<input type="text" placeholder="Middle Initial" ng-model="registration.person.middleName" class="form-input" /><br> 
					<label class='form-label'>First Name</label>
				</td>
				<td class='form-cell' style=''>
					<input type="text" placeholder="Last Name" ng-model="registration.person.lastName" class="form-input" /><br> 
					<label class='form-label'>Last Name</label>
				</td>
				<td></td>
			</tr>
			<tr class='form-row'>
				<td class='form-cell' colspan='3'>
					<textarea placeholder="Personal Experience" ng-model="registration.person.personalExperience" class="form-input"></textarea><br> 
					<label class='form-label'>Personal Experience</label>
				</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
