
<div class="group-header">
	Login Information:
</div>
<div class="sub-group">
	<table class='form-table'>
		<tbody>
			<tr class='form-row'>
				<td class='form-cell' >
					<input type="text" placeholder="Provide how you want the system to display your name." required ng-model="registration.account.displayName" class="form-input"/><br>
					<label class='form-label'>Display Name</label>
				</td>
			</tr>
			<tr class='form-row'>
				<td class='form-cell' >
					<input type="text" placeholder="Provide the email address you want to use to login." required ng-model="registration.account.loginName" class="form-input"/><br>
					<label class='form-label'>Email Address for Login</label>
				</td>
			</tr>
			<tr class='form-row'>
				<td class='form-cell' >
					<input type="password" placeholder="Enter a Password" required ng-model="registration.account.password" class="form-input"/><br>
					<label class='form-label'>Password</label>
				</td>
			</tr>
			<tr class='form-row'>
				<td class='form-cell' >
					<input type="password" placeholder="Re-enter Password" required ng-model="registration.account.passwordCheck" class="form-input"/><br>
					<label class='form-label'>Re-enter Password</label>
				</td>
			</tr>
		</tbody>
	</table>
</div>
